# Don't track content of these folders
webcrawler/__pycache__
webcrawler/spiders/__pycache__
files
env

# Do not track these files
.DS_Store
*.pyc
*.egg-info

build/*
logs/*
files/*
webcrawler/__pycache__/*
webcrawler/spiders/__pycache__/*
*.json
*.jl

