# This file output from command.
# pip freeze > requierements.txt
#
mysql-connector==2.2.9
mysql-connector-python==2.1.6
mysqlclient==1.4.2.post1
pymongo==3.8.0
requests==2.22.0
Scrapy==1.7.3
scrapy-selenium==0.0.7
scrapy-splash==0.7.2
scrapy-user-agents==0.1.1
scrapyd==1.2.1
scrapyd-client==1.2.0a1
selenium==3.141.0
urllib3==1.25.3
urlparser==0.1.2
user-agents==2.0
w3lib==1.20.0
woocommerce==2.1.1
